.toggle, .toggle-on, .toggle-off { 
  margin-left: 1em;
}
.toggle .toggle-handle { 
  margin-left: 1em;
}

.btn-primary {
  height: 2em;
  padding-top: 0.5em !important;
}

.btn-default {
  height: 2em;
  padding-top: 0.5em !important;
}

#datetimepicker3 {
  margin-left: 1em;
  margin-right: 1em;
}

#datetimepicker3 input {
  z-index: 0;
}

.input-group-addon {
  background-color: #FF9500;
}

.glyphicon-time {
  color: #FFF;
}

.bootstrap-datetimepicker-widget {
  margin-right: 1em;
}

.reminder-switch div, .reminder-switch button{
  display: inline-block;
}
.reminder-switch {
  margin-left: 1em;
}
.reminder-switch div {
  width: 2em;
}

.reminder-switch button {
  width: 11em;
}