<template name="timePicker">
  <div class="form-group">
    <div class='input-group date' id='datetimepicker3'>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-time"></span>
      </span>
      <input type='text' class="form-control">
    </div>
  </div>
  <div id="reminder-on" class="reminder-switch hide">
    <div>ON</div>
    <button id="turn-reminder-off" class="btn btn-primary">Turn Off</button>
  </div>
  <div id="reminder-off" class="reminder-switch">
    <div>OFF</div>
    <button id="turn-reminder-on" class="btn btn-primary">Turn On</button>
  </div>
  <!-- <input id="noti-toggle" type="checkbox" data-toggle="toggle" > -->
</template>