<template name="main">
  <div class="page lists-show">
    <nav class="js-title-nav">
        <div class="nav-group">
          <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
        </div>

        <h1 class="js-edit-list title-page"><span class="title-wrapper">BRELLA</span></h1>

    </nav>


    <div class="content-scrollable">
      {{#if weatherReady}}
        <div class="chanceOfRain">{{chanceOfRain}}%</div>
        <div class="recommendation">You must bring your brella madafaka!</div>

      {{else}}
          <div class="wrapper-message">
            <div class="title-message">Loading Weather Info ...</div>
          </div>
      {{/if}}
    </div>
  </div>
</template>
