<template name="main">
  <div class="page lists-show">
    <nav id="main-nav" class="js-title-nav">
        <div class="nav-group">
          <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
        </div>

        <h1 class="js-edit-list title-page"><span class="title-wrapper"> BRELLA </span></h1>

    </nav>


    <div id="main-container" class="content-scrollable">
      {{#if weatherReady}}
        <div class="row">
          <div class="currentWeather col-xs-6 col-xs-offset-3">
            <div class="chanceOfRainTime">{{chanceOfRainTime}}</div>
            <div class="chanceOfRain">{{chanceOfRain}}%</div>
            <div>Chance of Rain</div>
          </div>
        </div>      
        
        <div class="row chanceOfRainLater">
          <div class="chanceOfRainTime2 col-xs-6 col-xs-offset-3"> {{chanceOfRainTime2}} <br>  <span class="chanceOfRain2">{{chanceOfRain2}}%<br></span>Chance of Rain
          </div>
        </div>

        <div class="row">
          <div>Current Temperature <br> <span class="currentTemperature">{{currentTemp}} <img id="celcius" src="img/weather_icon/celcius.svg"></span></div>
        </div>
        
        <div class="row">
          <div class="recommendation col-xs-10 col-xs-offset-1">{{brellaMessage}}</div>
        </div>

      {{else}}
          <div class="wrapper-message">
            <div class="title-message">Loading Weather Info ...</div>
          </div>
      {{/if}}
    </div>
  </div>
</template>
