#main-container {
  background-color: #2BE8E0;
}

.row {
  margin-bottom: 1vh;
}

.chanceOfRain {
  font-size: 15vh;
  color: #FF9500;
}

.chanceOfRain2 {
  font-size: 6vh;
}

.currentTemperature {
  font-size: 6vh;
}

#celcius {
  height: 3vh;
}

.currentCondition {
  max-height: 10vh;
  margin-left: 5vw;
}

.chanceOfRainTime {
  font-size: 5vh;
  margin-bottom: 1vh;
}

.chanceOfRaintxt {
  margin-top: -2vh;
}

.recommendation {
  font-size: 3.5vh;
  border-top: solid 1px black;
  padding-top: 2vh;
}

.umbrella {
  height: 13vh;
}